@media (max-width: 1450px) {
  .gallery,
  .saved-memes {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }

  .gallery-img {
    width: 300px;
    height: 300px;
  }

  .tips option {
    font-size: 1.1rem;
  }
}

@media (max-width: 1024px) {
  .tips {
    gap: 20px;
  }

  .tips option {
    font-size: 0.8rem;
  }

  .gallery,
  .saved-memes {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .gallery-img {
    height: 280px;
    width: 280px;
  }
}

@media (max-width: 768px) {
  .tips {
    gap: 14px;
    color: white;
    width: auto;
    font-size: 17px;
    padding: 12px 20px;
  }

  .features-2 i,
  .features-1 i,
  .color-container i {
    font-size: 25px;
  }

  .tips option {
    font-size: 0.8rem;
  }

  header {
    padding: 0 67px 0 20px;
  }

  .search-input {
    font-size: 17px;
    width: auto;
  }

  .search {
    gap: 4%;
  }

  li {
    font-size: 24px;
  }

  .emojis li {
    font-size: 17px;
  }

  .gallery-img {
    height: 200px;
    width: 200px;
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  .saved-memes {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  canvas {
    width: 350px;
  }

  .icons {
    width: 30px !important;
    height: 30px !important;
  }

  .txt-input {
    width: 200px;
    height: 30px;
    font-size: 15px;
    margin-top: 7px;
  }

  .features-2,
  .features-3 {
    width: 72%;
  }

  .features-2 {
    gap: 10px;
  }

  .paint {
    top: 0;
  }

  .tools {
    width: 350px;
    gap: 23px;
    height: 350px;
    padding: 0;
  }

  .select-font {
    font-size: 15px;
    height: 30px;
  }

  .btn_wrap {
    width: 143px;
    height: 30px;
  }

  .btn_wrap span {
    font-size: 14px;
  }

  .features-1 {
    gap: 18px;
  }

  .editor {
    gap: 30px;
  }
  .container i {
    font-size: 15px;
  }
}

@media (max-width: 548px) {
  .gallery-img {
    height: 135px;
    width: 135px;
  }

  .tips {
    display: none;
  }

  .logo {
    width: 160px;
  }

  .gallery,
  .saved-memes {
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  }

  .hamburger img {
    cursor: pointer;
    height: 25px;
    width: 25px;
  }

  .hamburger {
    display: block;
  }

  .modal {
    border-radius: 10px;
    padding: 60px 30px;
    background: #423e41f5;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 50% -79%;
  }

  .modal ul {
    flex-direction: column;
  }

  .modal li {
    border: 1px solid white;
    font-size: 23px;
    padding: 10px 70px;
    border-radius: 5px;
    /* border 1px */
  }

  .nav {
    display: none;
  }

  .gallery-container {
    padding: 22px;
  }

  .saved-memes {
    gap: 18px;
  }
  .search {
    padding-left: 12px;
    padding-right: 0;
  }

  .search-input {
    width: 250px;
  }

  .txt-input {
    margin-top: 11px;
  }
  header {
    gap: 140px;
    justify-content: flex-start;
    padding: 0;
  }

  .editor {
    flex-direction: column;
  }

  canvas {
    width: 250px;
  }

  .features-3 {
    padding: 0;
  }

  .filler {
    display: none;
  }

  .emojis ul {
    flex-direction: row !important;
  }

  .emojis li {
    padding: 10px 0;
  }
}
