.emojis {
  display: flex;
}

.icons {
  opacity: 0.9;
  cursor: pointer;
  height: 50px;
  width: 55px;
}

.arrows {
  rotate: 90deg;
}

.icon-container {
  padding: 0 1px 0 1px;
}

.color-container input {
  cursor: pointer;
  opacity: 0;
}

.paint {
  top: -7px;
  position: absolute;
}

.color-container i {
  cursor: pointer;
  font-size: 42px;
}

.color-container {
  position: relative;
}

.arrows {
  transition: all 0.3s;
  width: 36px;
  height: 42px;
  display: grid;
  align-items: center;
  position: relative;
}

.arrows i {
  position: absolute;
  font-size: 15px !important;
}

.arrows i:nth-child(3) {
  justify-self: end;
  rotate: -90deg;
}
.arrows i:nth-child(2) {
  justify-self: center;
  align-self: start;
  rotate: -90deg;
}

.arrows i:nth-child(1) {
  justify-self: start;
  align-self: center;
  rotate: -90deg;
}

.arrows i:nth-child(4) {
  justify-self: center;
  align-self: end;
  rotate: -90deg;
}
