.emojis {
  display: flex;
}

.icons {
  opacity: 0.9;
  cursor: pointer;
  height: 50px;
  width: 55px;
}

.arrows {
  rotate: 90deg;
}

.icon-container {
  padding: 0 1px 0 1px;
}

.color-container input {
  cursor: pointer;
  opacity: 0;
}

.paint {
  top: -7px;
  position: absolute;
}

.color-container i {
  cursor: pointer;
  font-size: 42px;
}

.color-container {
  position: relative;
}
