.search-input::placeholder {
  padding-left: 30px;
}

.search {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-top: 30px;
  padding-left: 5rem;
}

.search i {
  font-size: 30px;
}

.search-input {
  padding: 10px;
  border-radius: 100px;
  width: 45%;
  font-size: 25px;
}

.txt-input {
  border: 1px solid #c3257a;
  border-radius: 100px;
  width: 400px;
  font-size: 27px;
  height: 51px;
  text-align: center;
}

.select-font {
  border-radius: 7px;
  width: 57%;
  height: 50px;
  font-size: 20px;
}
