.nav li {
  font-family: Roboto;
  position: relative;
}

.nav li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: #c3257a;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
