.tips {
  justify-content: center;
  padding: 12px;
  border-radius: 100px;
  background-color: #88898b;
  display: flex;
  gap: 32px;
  color: white;
  width: 40%;
  font-size: 25px;
}

.tips option {
  animation-duration: 2s; /* don't forget to set a duration! */
  font-family: cursive;
  font-size: 1.3rem;
  cursor: pointer;
}
