.gallery-container,
.saved-memes-container {
  padding: 30px;
}

.gallery,
.saved-memes {
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 50px;
  padding: 50px 80px;
}

.gallery-img {
  transition: all 0.5s;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  height: 380px;
  width: 380px;
}

.gallery-img:hover {
  scale: 1.03;
}
