.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 9rem;
  padding-top: 30px;
  padding-left: 2rem;
}

.search-input {
  padding: 10px;
  border-radius: 100px;
  width: 53%;
  font-size: 25px;
}

.tips p {
  font-size: 1.3rem;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.modal {
  opacity: 0;
  z-index: -1;
  transition: 1s all;
  position: absolute;
  top: 50%;
  right: 50%;
  translate: 47% -79%;
}

.search-input::placeholder {
  padding-left: 30px;
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 35px;
  font-family: math;
}

.logo {
  cursor: pointer;
}

.tips {
  justify-content: center;
  padding: 12px;
  border-radius: 100px;
  background-color: #88898b;
  display: flex;
  gap: 32px;
  color: white;
  width: 43%;
  font-size: 25px;
}

.gallery-container,
.saved-memes-container {
  padding: 30px;
  background-color: #703a5954;
}

.gallery,
.saved-memes {
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 50px;
  /* background-color: #703a5954; */
  padding-top: 50px;
}

.gallery-img {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  height: 400px;
  width: 400px;
}
